@font-face {
  font-family: 'cd-icon';
  src:  url('element-ui/fonts/cd-icon.eot?win7gq');
  src:  url('element-ui/fonts/cd-icon.eot?win7gq#iefix') format('embedded-opentype'),
    url('element-ui/fonts/cd-icon.ttf?win7gq') format('truetype'),
    url('element-ui/fonts/cd-icon.woff?win7gq') format('woff'),
    url('element-ui/fonts/cd-icon.svg?win7gq#cd-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="cd-"], [class*=" cd-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cd-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cd-anlian:before {
  content: "\e900";
}
.cd-weigui:before {
  content: "\e901";
}
.cd-guama:before {
  content: "\e902";
}
.cd-call:before {
  content: "\e903";
}
.cd-uniE904:before {
  content: "\e904";
}
.cd-uniE905:before {
  content: "\e905";
}
.cd-control:before {
  content: "\e906";
}
.cd-Appscan:before {
  content: "\e907";
}
.cd-Webloopel-type:before {
  content: "\e908";
}
.cd-Webloopel-list:before {
  content: "\e909";
}
.cd-Webapp-analysis:before {
  content: "\e90a";
}
.cd-fishing:before {
  content: "\e90b";
}
.cd-fishing-result:before {
  content: "\e90c";
}
.cd-fishing-notice:before {
  content: "\e90d";
}
.cd-safe-log:before {
  content: "\e90e";
}
.cd-event-alarm:before {
  content: "\e90f";
}
.cd-event-defens:before {
  content: "\e910";
}
.cd-domain-monitor:before {
  content: "\e911";
}
.cd-event-suggest:before {
  content: "\e912";
}
.cd-event-action:before {
  content: "\e913";
}
.cd-event-analysis:before {
  content: "\e914";
}
.cd-event-monitor:before {
  content: "\e915";
}
.cd-event-count:before {
  content: "\e916";
}
.cd-virus-count:before {
  content: "\e917";
}
.cd-virused-count:before {
  content: "\e918";
}
.cd-host-list:before {
  content: "\e919";
}
.cd-host-count:before {
  content: "\e91a";
}
.cd-host-analysis:before {
  content: "\e91b";
}
.cd-host-total-an:before {
  content: "\e91c";
}
.cd-play3:before {
  content: "\ea1c";
}
