<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>异常行为</title>
 <!--element  CSS -->
<link rel="stylesheet" href="css/element-ui/index.css">
<link rel="stylesheet" href="css/element-ui/index-reset.css">
<!-- animate css-->
<link rel="stylesheet" href="css/animate2.css">

<!--Icon-fonts css-->
<link rel="stylesheet" href="asset/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="asset/icomoon/style.css">
<!-- Custom css-->
<link href="asset/pace/pace.theme.css" rel="stylesheet">
<link href="css/style2.css"  rel="stylesheet">
<link href="css/style-help2.css" rel="stylesheet">

	<!--[if lt IE 9]>
       <script src="js/jq/html5shiv.js"></script>
       <script src="js/respond.min.js"></script>
    <![endif]-->
    <style>
.left2 ul li {
	margin-left: 19px;
	float: left;
}
.left2 a {
	font-size: 12px;
	color: #171819;
	font-weight: 700;
}
.left2 .returnfirst {
	margin-left: 20px;
}
.left2 .returnfirst a {
	font-size: 18px;
	color: #850725;
}
</style>
</head>
<body>
<div id="app">
<header class="top-head clearfloat">
	<div class="float-l">
		<a href="" class="logo m-l-20"><img src="images/logo.png" alt="logo"></a>
	    <span class="logo-text m-l-10">反欺诈态势</span>
    </div>
    <div class="left2">
    	<ul>
    		<li class="returnfirst"><a href="#" onclick = window.open('index.html')>返回首页</a></li>
    		<li><a href="#" onclick = window.open('个体特征分析.html')>个体特征分析</a></li>
    		<li><a href="#" onclick = window.open('反欺诈态势.html')>反欺诈态势</a></li>
    		<li><a href="#" onclick = window.open('受害用户统计.html')>受害用户统计</a></li>
    		<li><a href="#" onclick = window.open('异常行为监测.html')>异常行为监测</a></li>
    		<li><a href="#" onclick = window.open('疑似号码统计.html')>疑似号码统计</a></li>
    		<li><a href="#" onclick = window.open('疑似终端统计.html')>疑似终端统计</a></li>
    		<li><a href="#" onclick = window.open('疑似追踪.html')>疑似追踪</a></li>
    		<li><a href="#" onclick = window.open('高危监测.html')>高危监测</a></li>
			<li><a href="#" onclick = window.open('dialog-诈骗回放.html')>dialog</a></li>
    	</ul>
    </div>
     <ul class="head-nav float-r clearfloat p-r-20">
    	<li>
    		<el-input placeholder="seacrch......">
    		 	 <i slot="suffix" class="el-input__icon el-icon-search"></i>
    		</el-input>
    	</li>
    	<li><a class="icon-clipboard text-sm text-gray"></a></li>
    	<li>
    		<el-badge is-dot class="item"><a class="text-sm text-gray icon-bell"></a></el-badge>
    	</li>
    	<li>
    		<el-dropdown size="medium" class="user-info">
				<span class="el-dropdown-link">亚信安全<i class="el-icon-arrow-down el-icon--right"></i></span>
				<el-dropdown-menu slot="dropdown" >
					<el-dropdown-item>修改密码</el-dropdown-item>
					<el-dropdown-item>退出</el-dropdown-item>
				 </el-dropdown-menu>
		    </el-dropdown>
    	</li>
    </ul>    
</header>
<aside class="left-panel">
	<nav class="navigation">
        <div class="sidebar-fold" id ="navbar-toggle" tip="展开／收起"><i class="fa fa-sliders"></i></div>
	    <ul class="sidebar-one">
			<li class="nav-item active" tip="态势视图"><a href="#">
				 <i class="icon-situation-view"></i>
				 <span class="nav-label">态势视图</span>
			</a></li>
			<li class="nav-item" tip="态势场景"><a href="#">
				 <i class="icon-scene"></i>
				 <span class="nav-label">态势场景</span>
			</a></li>
			<li class="nav-item" tip="告警管理"><a href="#">
				<i class="icon-alarm"></i>
				<span class="nav-label">告警管理</span>
			</a></li>
			<li class="nav-item" tip="态势预警"><a href="#">
				<i class="icon-save-log"></i>
				<span class="nav-label">态势预警</span>
			</a></li>
			<li class="nav-item" tip="威胁情报"><a href="#">
				<i class="icon-intelligence-info"></i>
				<span class="nav-label">威胁情报</span>
			</a></li>
			<li class="nav-item" tip="智能搜索"><a href="#">
				<i class="icon-smartsearch"></i>
				<span class="nav-label">智能搜索</span>
			</a></li>
			<li class="nav-item" tip="态势大屏"><a href="#" data-submenu="7">
				<i class="icon-situational"></i>
				<span class="nav-label">态势大屏</span>
			</a></li>
			<li class="nav-item" tip="系统管理"><a href="#">
				<i class="icon-setting"></i>
				<span class="nav-label">系统管理</span>
			</a></li>
			<li class="nav-item" tip="SDC管理"><a href="#">
				<i class="icon-data-center"></i>
				<span class="nav-label">SDC管理</span>
			</a></li>
			<li class="nav-item" tip="报表模块"><a href="#">
				<i class="icon-report"></i>
				<span class="nav-label">报表模块</span>
			</a></li>
		</ul>
	</nav>
	<nav class="sub-navigation">
	    <div class="sidebar-subnav-head">
	    	<span class="sidebar-subnav-title">数据中心</span>
	    	<i class="fa fa-outdent" id="sidebar-subnav-collapse"></i>
	    </div>
	    <div class="sidebar-subnav-list">
			<ul class="second-mune hidden">
				<li class="cascade">
					<a href="#">
					   <span>全球态势</span><i class="fa fa-angle-left pull-right"></i>
					</a>
					<ul class="treeview-menu">
					  <li class=""><a href="#"> 场景视图</a></li>
					  <li><a href="#"> 数据视图</a></li>
					</ul>
				</li>
				<li class="cascade">
					<a href="#">
					   <span>恶意IP</span><i class="fa fa-angle-left pull-right"></i>
					</a>
					<ul class="treeview-menu">
					  <li class=""><a href="#"> 场景视图</a></li>
					  <li><a href="#"> 数据视图</a></li>
					</ul>
				</li>
				<li class="cascade">
					<a href="#">
					   <span>恶意DOMAIN</span><i class="fa fa-angle-left pull-right"></i>
					</a>
					<ul class="treeview-menu">
					  <li class=""><a href="#"> 场景视图</a></li>
					  <li><a href="#"> 数据视图</a></li>
					</ul>
				</li>
				<li class="cascade">
					<a href="#">
					   <span>恶意URL</span><i class="fa fa-angle-left pull-right"></i>
					</a>
					<ul class="treeview-menu">
					  <li class=""><a href="#"> 场景视图</a></li>
					  <li><a href="#"> 数据视图</a></li>
					</ul>
				</li>
				<li class="cascade">
					<a href="#">
					   <span>漏洞</span><i class="fa fa-angle-left pull-right"></i>
					</a>
					<ul class="treeview-menu">
					  <li class=""><a href="#"> 场景视图</a></li>
					  <li><a href="#"> 数据视图</a></li>
					</ul>
				</li>
			</ul>
			<ul class="second-mune hidden">
				<li class="cascade">
					<a href="#">
					   <span>DASHBOARD1-2</span><i class="fa fa-angle-left pull-right"></i>
					</a>
					<ul class="treeview-menu">
					  <li class=""><a href="#"> Dashboard v1</a></li>
					  <li><a href="#"> Dashboard v2</a></li>
					</ul>
				</li>
				<li class="cascade">
					<a href="#">
					   <span>DASHBOARD2</span><i class="fa fa-angle-left pull-right"></i>
					</a>
					<ul class="treeview-menu">
					  <li class=""><a href="#"> Dashboard v1</a></li>
					  <li><a href="#"> Dashboard v2</a></li>
					</ul>
				</li>
				<li class="cascade">
					<a href="#">
					   <span>DASHBOARD3</span>
					</a>
				</li>
			</ul>
   	 		<ul class="second-mune hidden">
				<li class="cascade">
					<a href="#">
					   <span>DASHBOARD1-3</span><i class="fa fa-angle-left pull-right"></i>
					</a>
					<ul class="treeview-menu">
					  <li class=""><a href="#"> Dashboard v1</a></li>
					  <li><a href="#"> Dashboard v2</a></li>
					</ul>
				</li>
				<li class="cascade">
					<a href="#">
					   <span>DASHBOARD2</span>
					</a>
				</li>
				<li class="cascade">
					<a href="#">
					   <span>DASHBOARD3</span>
					</a>
				</li>
			</ul>
    		<ul class="second-mune hidden">
				<li class="cascade">
					<a href="#">
					   <span>DASHBOARD1-4</span><i class="fa fa-angle-left pull-right"></i>
					</a>
					<ul class="treeview-menu">
					  <li class=""><a href="#"> Dashboard v1</a></li>
					  <li><a href="#"> Dashboard v2</a></li>
					</ul>
				</li>
				<li class="cascade">
					<a href="#">
					   <span>DASHBOARD2</span>
					</a>
				</li>
				<li class="cascade">
					<a href="#">
					   <span>DASHBOARD3</span>
					</a>
				</li>
			</ul>
			<ul class="second-mune hidden">

			</ul>
			<ul class="second-mune hidden">
			<li class="cascade">
				<a href="#">
					 <span>DASHBOARD1-6</span><i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li class=""><a href="#"> Dashboard v1</a></li>
					<li><a href="#"> Dashboard v2</a></li>
				</ul>
			</li>
			<li class="cascade">
				<a href="#">
					 <span>DASHBOARD2</span>
				</a>
			</li>
			<li class="cascade">
				<a href="#">
					 <span>DASHBOARD3</span>
				</a>
			</li>
		</ul>
	    </div>
	</nav>
</aside>
<section class="content">
    <div class="container-fluid">
    	<div class="top-breadcrumb p-b-20">
			<el-breadcrumb separator="/">
			  <el-breadcrumb-item>异常行为</el-breadcrumb-item>
			</el-breadcrumb>
		</div>
		<el-row :gutter="16">
		    <el-col :span="12">
				<div class="el-panel">
					<div class="el-panel-heading">
						<h4 class="el-panel-title">异常区域分析</h4>
						<el-tabs v-model="activeName" class="float-r day-tabs">
							<el-tab-pane label="今天" name="first"></el-tab-pane>
							<el-tab-pane label="近7天" name="second"></el-tab-pane>
							<el-tab-pane label="近30天" name="third"></el-tab-pane>
						</el-tabs>
					</div>
					<div class="el-panel-body">
						<div class="echartbox5" id="barpie-box1"></div>
					</div>	 
				</div>
			</el-col>
			<el-col :span="12">
				<div class="el-panel">
					<div class="el-panel-heading">
						<h4 class="el-panel-title">异常类型分析</h4>
						<el-tabs v-model="activeName" class="float-r day-tabs">
							<el-tab-pane label="今天" name="first"></el-tab-pane>
							<el-tab-pane label="近7天" name="second"></el-tab-pane>
							<el-tab-pane label="近30天" name="third"></el-tab-pane>
						</el-tabs>
					</div>
					<div class="el-panel-body">
						<div class="echartbox5" id="linepie-box1"></div>
					</div>	 
				</div>
			</el-col>	
		</el-row>
		<el-row :gutter="16">
		    <el-col>
				<div class="el-panel">
					<div class="el-panel-heading">
						<h4 class="el-panel-title">异常分布</h4>
						<el-tabs v-model="activeName" class="float-r day-tabs">
							<el-tab-pane label="今天" name="first"></el-tab-pane>
							<el-tab-pane label="近7天" name="second"></el-tab-pane>
							<el-tab-pane label="近30天" name="third"></el-tab-pane>
						</el-tabs>
					</div>
					<div class="el-panel-body m-t-35">
						<el-row :gutter="20">
							<el-col :span="9">
								<div class="echartbox12" id="map-box1"></div>
							</el-col>
							<el-col :span="5">
								<div class="el-panel-subtitle subtitle-color1">主叫异常TOP</div>
								<ul class="table-content">
									<li><label>号码</label><span class="float-r">主叫数</span></li>
									<li><label>13569821267</label><span class="float-r">1990个</span></li>
								  	<li><label>13869821289</label><span class="float-r">2887个</span></li>
								  	<li><label>13969821201</label><span class="float-r">886个</span></li>
								 	<li><label>13369821223</label><span class="float-r">72个</span></li>
								 	<li><label>13069821245</label><span class="float-r">163个</span></li>
							    </ul>
							</el-col>
							<el-col :span="5">
								<div class="el-panel-subtitle subtitle-color2">短信异常TOP</div>
								<ul class="table-content">
									<li><label>号码</label><span class="float-r">短信数</span></li>
									<li><label>13569821267</label><span class="float-r">1990条</span></li>
								  	<li><label>13869821289</label><span class="float-r">2887条</span></li>
								  	<li><label>13969821201</label><span class="float-r">886条</span></li>
								 	<li><label>13369821223</label><span class="float-r">72条</span></li>
								 	<li><label>13069821245</label><span class="float-r">163条</span></li>
							    </ul>
							</el-col>
							<el-col :span="5">
								<div class="el-panel-subtitle subtitle-color3">开机异常TOP</div>
								<ul class="table-content">
									<li><label>号码</label><span class="float-r">开机时长</span></li>
									<li><label>13569821267</label><span class="float-r">0天</span></li>
								  	<li><label>13869821289</label><span class="float-r">2天</span></li>
								  	<li><label>13969821201</label><span class="float-r">3天</span></li>
								 	<li><label>13369821223</label><span class="float-r">5天</span></li>
								 	<li><label>13069821245</label><span class="float-r">18天</span></li>
							    </ul>
							</el-col>
						</el-row>
					</div>	 
				</div>
			</el-col>	
		</el-row>
		<div class="el-panel clearfloat">
			<div class="el-panel-body">
				<div class="search">
					<div class="ordinary-search m-b--20">
						<el-form :inline="true" :model="form">
							<el-form-item>
								<el-input v-model="phone" placeholder="电话号码"></el-input>
							</el-form-item>
							<el-form-item>
								<el-select v-model="abnormaltype" placeholder="异常类型">
									<el-option label="主叫异常" value="1"></el-option>
									<el-option label="短信异常" value="2"></el-option>
									<el-option label="开机异常" value="3"></el-option>
								</el-select>
							</el-form-item>
							<el-form-item>
								<el-date-picker v-model="value2" type="datetimerange"  start-placeholder="开始日期" end-placeholder="结束日期"></el-date-picker>
							</el-form-item>
							<el-form-item>
								<el-button type="primary">搜索</el-button>
							</el-form-item>
						</el-form>
						<div class="op-location">
							<p id="search-tag1" class="search-tag"><i class="el-icon-search m-r-8"></i>高级搜索</p>
						</div>
					</div>
					<div class="senior-search hidden">
						<el-form :inline="true" :model="form">
							<el-form-item label="号码：">
								<el-input v-model="phone" placeholder="电话号码"></el-input>
							</el-form-item>
							<el-form-item label="归属地市">
								<el-select v-model="city" placeholder="所有地市">
									<el-option label="江苏南京" value="1"></el-option>
									<el-option label="浙江杭州" value="2"></el-option>
									<el-option label="福建福州" value="3"></el-option>
								</el-select>
							</el-form-item>
							<el-form-item label="异常类型">
								<el-select v-model="abnormaltype" placeholder="所有类型">
									<el-option label="主叫异常" value="1"></el-option>
									<el-option label="短信异常" value="2"></el-option>
									<el-option label="开机异常" value="3"></el-option>
								</el-select>
							</el-form-item>
							<el-form-item label="处理状态">
								<el-select v-model="state" placeholder="所有状态">
									<el-option label="待处理" value="1"></el-option>
									<el-option label="已处理" value="2"></el-option>
									</el-select>
							</el-form-item>
							<el-form-item label="时间范围">
								<el-date-picker v-model="value2" type="datetimerange" start-placeholder="开始日期" end-placeholder="结束日期"></el-date-picker>
							</el-form-item>
						</el-form>
						<div class="search-button-location">
							<el-button type="primary">搜索</el-button>
							<el-button type="gray">清空</el-button>
						</div>
						<div class="op-location">
							<p id="search-tag2" class="search-tag search-tag02"><i class="el-icon-search m-r-8"></i>普通搜索</p>
						</div>
					</div>
				</div>
				</div>
						<div class="">
							<el-table :data="abnormallist"  style="width: 100%">
								<el-table-column prop="phone" label="号码" align="center" width="200" align="left" show-overflow-tooltip></el-table-column>
								<el-table-column prop="city" label="归属地市" width="200" align="center"></el-table-column>
								<el-table-column prop="abnormaltype" label="异常类型" align="center" :filters="[{text:'主叫异常'}, {text:'短信异常'}, {text:'开机异常'}]" :filter-method="filterType">
								</el-table-column>
								<el-table-column prop="number" label="异常量" align="center"></el-table-column>
								<el-table-column prop="state" label="处理状态" align="center" :filters="[{text:'待处理'}, {text:'已处理'}]" :filter-method="filterType">
								</el-table-column>
								<el-table-column prop="time1" label="发生时间" align="center" sortable>
									<template scope="scope">{{ scope.row.time1 }}</template>
								</el-table-column>
								<el-table-column prop="time2" label="报案时间" align="center" sortable>
									<template scope="scope">{{ scope.row.time2 }}</template>
								</el-table-column>
								<el-table-column   label="操作" align="center" >
									 <template scope="scope">
										 <el-button type="text">查看</el-button>
									 </template>
								</el-table-column>
					        </el-table>
					        <div class="pagelocation">
						         <el-pagination class="pagination" :page-sizes="[10, 20, 30, 40]" :page-size="10" layout="total, sizes, prev, pager, next, jumper" :total="40">
						         </el-pagination>
					        </div>
			         	</div>
					</div>
    </div>	
</section>
</div>
</body>
	<script src="js/jq/jquery-1.9.1.min.js"></script>
    <script src="js/elements-js/vue.min.js"></script>
    <script src="js/elements-js/index.js"></script>
    <script type="text/javascript" src="js/app-standard.js" ></script>
    <script type="text/javascript" src="js/nav.js"></script>
    <script type="text/javascript" src="js/Plug-in/jquery.nicescroll.js"></script>	
    <script type="text/javascript" src="js/threaten.js"></script>

    <script src="js/echarts/echarts.min.js"></script>
    <script src="js/echarts/china.js"></script>
    <script src="js/echarts-abnormal.js"></script>
</html>
